[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
moment = "*"
brother-ql = "*"
pillow = "*"
reportlab = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.9"
